.main {
    height: 100vh;
    margin-bottom: 100px;
    overflow: hidden;
}

.main .vod {
    width: 100%;
    filter: brightness(0.8);
}

.section1 .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.section2 .container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 20px;
}

.section3 .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.section4 .container .row1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
}

.section4 .container .row2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}