body::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: url('image/bg01.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
}

.section {
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-title {
    margin-bottom: 40px;
}

span {
    font-weight: 200;
}

hr {
    border: none;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    width: 100%;
    margin: 100px auto;
    opacity: 0.5;
}

.cont {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    margin-bottom: 100px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.left .text-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.left .icon {
    width: 8%;
    display: flex;
    gap: 10px;
}

.right img {
    filter: drop-shadow(2px 2px 4px var(--color99));
}

.cont2 .right {
    display: flex;
    justify-content: space-between;
}

.cont2 .right img {
    width: 17.5%;
}

.cont3 .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.cont4 .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.cont4 .right img {
    width: 100%;
    height: 400px;
    overflow: hidden;
    object-position: top;
    cursor: pointer;
}

.cont5 .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.cont5 .right img {
    width: 100%;
    height: 100%;
}

.pop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    display: none;
}

.pop .bg {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    cursor: pointer;
}

.pop .img-box {
    max-width: 1000px;
    width: 90%;
    height: 90vh;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    box-shadow: 0 10px 50px -10px rgba(0, 0, 0, 0.5);
}

.pop .img-box img {
    width: 100%;
    height: auto;
    display: block;
}