/*메인*/
.main {
    height: 100vh;
    padding-bottom: var(--gap100);
}

.main .vod {
    width: 100%;
    filter: brightness(0.8);
}

/*섹션 1*/
.section1 {
    padding-top: var(--gap100);
}

.section1 .tab {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

.section1 .btn-group {
    display: flex;
    padding-bottom: var(--gap20);
}

.section1 .btn {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section1 .btn.active::before {
    transform: scale(1);
}

.section1 .btn1::before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 1px;
    background-color: #93452E;
    transition: 0.5s;
    transform: scale(0);
}

.section1 .btn1:hover::before {
    transform: scale(1);
}

.section1 .btn1:hover {
    color: #93452E;
}

.section1 .btn2::before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 1px;
    background-color: #93452E;
    transition: 0.5s;
    transform: scale(0);
}

.section1 .btn2:hover::before {
    transform: scale(1);
}

.section1 .btn2:hover {
    color: #93452E;
}

.section1 .cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap20);
}

.section1 .cont img {
    border-radius: 20px;
}

.section1 .box2 {
    display: none;
}

.section1 .item {
    margin-bottom: 30px;
}

.section1 .text-box {
    text-align: center;
    margin-top: 20px;
}

.section1 .text-box .group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 .text-box .group span {
    transition: 0.5s;
}

.section1 .group .text1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: 0.5s;
    opacity: 0;
}

.section1 .group .text2 {
    left: 0;
    opacity: 1;
}

.section1 .item:hover .text1 {
    left: 50%;
    opacity: 1;
}

.section1 .item:hover .text2 {
    left: 20px;
    opacity: 0;
}

/*섹션 2*/
.section2 {
    padding-top: var(--gap100);
}

.section2 .container {
    display: flex;
    gap: var(--gap20);
}

.section2 .img-box {
    overflow: hidden;
    cursor: pointer;
    border-radius: 20px;
}

.section2 .img-box img {
    transition: 2s;
}

.section2 .img-box:hover img {
    transform: scale(1.2);
}

.section2 .arrow-box {
    margin-top: var(--gap20);
    position: absolute;
    right: 40px;
    bottom: 40px;
    font-size: 22px;
    color: var(--colorff);
}

.section2 .arrow-box a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.section2 .arrow-box h6 {
    font-size: 22px;
    color: var(--colorff);
}

.section2 .cont-group {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    gap: 20px;
    margin-top: 50px;
}

.section2 .cont img {
    border-radius: 20px;
}

.section2 .cont1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap20);
    width: 640px;
}

.section2 .cont2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap20);
    width: 640px;
}

.section2 .text-box {
    text-align: center;
    margin-top: 20px;
}

.section2 .text-box .group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section2 .text-box .group span {
    transition: 0.5s;
}

.section2 .group .text1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: 0.5s;
    opacity: 0;
}

.section2 .group .text2 {
    left: 0;
    opacity: 1;
}

.section2 .item:hover .text1 {
    left: 50%;
    opacity: 1;
}

.section2 .item:hover .text2 {
    left: 20px;
    opacity: 0;
}

/*섹션 3*/
.section3 {
    padding-top: 100px;
}

.section3 .section-title {
    text-align: center;
}

.section3 .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.section3 .item {
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 2/1;
}

.section3 img {
    aspect-ratio: 2/1;
    filter: brightness(0.7);
}

.section3 h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--colorff);
}

/*섹션 4*/
.section4 {
    padding-top: 100px;
    height: 400px;
    overflow: hidden;
}

.section4 .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.section4 h1 {
    font-weight: 400;
}

.section4 h2 {
    font-weight: 400;
    color: var(--colorff);
}

/*섹션 5*/
.section5 {
    padding-top: 100px;
}

.section5 .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section5 .item {
    width: 50%;
}

.section5 img {
    border-radius: 20px;
}

.section5 .left .swiper-slide {
    overflow: hidden;
}

.section5 .left img {
    width: 90%;
}

.section5 .right .swiper-slide {
    background-color: var(--colorff);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section5 .right .section-title {
    text-align: center;
}

.section5 .section-title h2 {
    padding-bottom: 50px;
}

.section5 .section-title p {
    padding-bottom: 100px;
}

.section5 .box-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.section5 .text-box {
    text-align: center;
    padding-top: 20px;
}

.section5 .text-box .group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section5 .text-box .group span {
    transition: 0.5s;
}

.section5 .group .text1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: 0.5s;
    opacity: 0;
}

.section5 .group .text2 {
    left: 0;
    opacity: 1;
}

.section5 .box:hover .text1 {
    left: 50%;
    opacity: 1;
}

.section5 .box:hover .text2 {
    left: 20px;
    opacity: 0;
}

.section5 .lotte h4 {
    color: var(--colorff);
}

.section5 .lotte p {
    color: var(--colorff);
}

/*섹션 6*/
.section6 {
    display: none;
    padding-top: var(--gap100);
}

.section6 .vod {
    width: 100%;
    display: block;
    object-fit: cover;
}

.section6 .vod-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.5;
    cursor: pointer;
}

.section6 .vod-btn:hover {
    opacity: 1;
}

.section6 .btn1 {
    display: none;
}

/*섹션 7*/
.section7 {
    padding-top: var(--gap100);
}

.section7 .tab {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

.section7 .btn-group {
    display: flex;
    padding-bottom: var(--gap20);
}

.section7 .btn {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section7 .btn.active::before {
    transform: scale(1);
}

.section7 .btn1::before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 1px;
    background-color: #93452E;
    transition: 0.5s;
    transform: scale(0);
}

.section7 .btn1:hover::before {
    transform: scale(1);
}

.section7 .btn1:hover {
    color: #93452E;
}

.section7 .btn2::before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 1px;
    background-color: #93452E;
    transition: 0.5s;
    transform: scale(0);
}

.section7 .btn2:hover::before {
    transform: scale(1);
}

.section7 .btn2:hover {
    color: #93452E;
}

.section7 .cont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap20);
}

.section7 .cont img {
    border-radius: 20px;
}

.section7 .box2 {
    display: none;
}

.section7 .item {
    margin-bottom: 30px;
}

.section7 .text-box {
    text-align: center;
    margin-top: 20px;
}

.section7 .text-box .group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section7 .text-box .group span {
    transition: 0.5s;
}

.section7 .group .text1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: 0.5s;
    opacity: 0;
}

.section7 .group .text2 {
    left: 0;
    opacity: 1;
}

.section7 .item:hover .text1 {
    left: 50%;
    opacity: 1;
}

.section7 .item:hover .text2 {
    left: 20px;
    opacity: 0;
}

/*섹션 8*/
.section8 {
    padding-top: 100px;
    padding-bottom: var(--gap100);
}

.section8 .section-title {
    text-align: center;
}

.section8 .section-title h2 {
    margin-bottom: 20px;
    color: var(--color66);
}

.section8 .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 1px solid var(--color33);
    border-radius: 20px;
    width: 140px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.section8 .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap20);
}

.section8 .img-box {
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
}

.section8 img {    
    transition: 2s;
}

.section8 .img-box:hover img {
    transform: scale(1.2);
}

.section8 .item .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.section8 h2 {
    color: var(--colorff);
    font-weight: 200;
}

.section8 h3 {
    color: var(--colorff);
    font-weight: 200;
}