.main img {
    filter: brightness(0.8);
}

.main .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main h2 {
    font-weight: 400;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.section-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.section-title h3 {
    color: var(--color33);
    font-weight: 600;
    margin-bottom: 10px;
}

.section-title h4 {
    color: var(--color33);
    font-weight: 400;
    line-height: 30px;
    opacity: 0.8;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    text-align: center;
    margin-bottom: 100px;
}

.item .img-box {
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}

.item .img-box:hover img {
    transform: scale(1.2);
}

.item .img-box img {
    transition: 0.5s;
}

.item .text-box {
    margin-top: 10px;
    margin-bottom: 20px;
}

.item-box .box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.text-box h4 {
    color: var(--color33);
    font-weight: 600;
}

.text-box h6 {
    color: var(--color33);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    margin-top: 10px;
    margin-bottom: 5px;
}

.text-box p {
    color: var(--color33);
    opacity: 0.8;
}

