/*폰트 연결*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);
@import url('https://cdn.jsdelivr.net/gh/sun-typeface/SUIT@2/fonts/variable/woff2/SUIT-Variable.css');

/*CSS 변수 연결*/
:root {
    --color00: #000000;
    --color33: #333333;
    --color66: #666666;
    --color99: #999999;
    --colordd: #dddddd;
    --colorf2: #f2f2f2;
    --colorff: #ffffff;
    --color29: #ff2929;
    --gap20: 20px;
    --gap50: 50px;
    --gap100: 100px;
}

/*리셋*/
* {
    position: relative;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

li {
    list-style: none;
}

/*폰트*/
body {
    font-family: 'SUIT Variable', sans-serif;
}

h1 {
    font-size: 80px;
    font-weight: 100;
    color: var(--colorff);
}

h2 {
    font-size: 40px;
    font-weight: 100;
    color: var(--colorff);
}

h3 {
    font-size: 22px;
    color: var(--colorff);
}

h4 {
    font-size: 16px;
    font-weight: 400;
    color: var(--colorff);
}

h6 {
    font-size: 14px;
    font-weight: 700;
    color: var(--colorff);
}

p {
    font-size: 14px;
    line-height: 22px;
    color: var(--colorff);
}

/*공통*/
.container {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
}

.fp-watermark {
    display: none;
}

/*헤더*/
header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    display: flex;
    flex-direction: column;
    transform: translateY(-60px);
    transition: all 0.5s ease-in-out;
}

header .row {
    max-width: 1800px;
    width: 90%;
    margin: 0 auto;
    color: var(--colorff);
    transition: 0.5s;
}

header .menu {
    display: flex;
    gap: 30px;
}

header .row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30px;
    margin-top: 30px;
}

header .row1 .logo {
    width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header .row1 .icon {
    display: flex;
    gap: 30px;
}

header .row2 {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
    margin-top: 20px;
    padding-bottom: 20px;
}

header.active {
    transform: translateY(0) !important;
}

header::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 40px;
    background: transparent;
    pointer-events: auto;
}

.fp-viewing-section1 header {
    transform: translateY(0) !important;
}

html {
    scroll-behavior: smooth;
}

/*푸터*/
footer {
    background-color: var(--color00);
    height: 400px;
    display: flex;
    align-items: center;
}

footer .footer {
    max-width: 1300px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr;
    gap: 20px;
}

footer .logo {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 30px;
}

footer .cs-text{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    line-height: 30px;
}

footer .cs-text h6 {
    color: var(--colorff);
}
footer .cs-text p {
    color: var(--color99);
}

footer .input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 30px;
}

footer .input-box .input-text {
    margin-bottom: 10px;
}

footer .input-text h4 {
    font-weight: 100;
}

footer .input-text span {
    font-weight: 600;
}

footer input {
    border-radius: 20px;
    width: 250px;
    height: 30px;
    padding-left: 15px;
}

footer input:focus {
    outline: none;
}

footer .btn {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    color: var(--color33);
    cursor: pointer;
}

footer .sns {
    color: var(--colorff);
    margin-top: 40px;
    font-size: 16px;
    display: flex;
    gap: 20px;
}

footer .cs-text h6,
footer .cs-text p {
    line-height: 30px !important;
    margin: 0 !important;
    text-align: left !important;
}

/*공지*/
.notice {
    display: none;
}

@media (max-width: 800px) {
    .notice {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.95);
        z-index: 9999;
        line-height: 30px;
    }
    .notice h4 {
        color: var(--color33);
    }
}

/*탑버튼*/
.top-btn {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: var(--color66);
    position: fixed;
    right: 30px;
    bottom: -150px;
    z-index: 100;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-btn i {
    color: var(--colorff);
}

.top-btn.see {
    bottom: 30px;
}

html {
    scroll-behavior: smooth;
}