.main img {
    filter: brightness(0.6);
}

.main .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.main h2 {
    font-weight: 400;
    letter-spacing: 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
}

.section-title {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.section-title h3 {
    color: var(--color33);
    font-weight: 600;
    margin-bottom: 10px;
}

.section-title h4 {
    color: var(--color33);
    font-weight: 400;
    line-height: 30px;
    opacity: 0.8;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 50px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item .img-box {
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-image: linear-gradient(45deg, var(--colordd), var(--colorf2));
}

.item .img-box:hover img {
    transform: scale(1.2);
}

.item .img-box img {
    transition: 0.5s;
}

.container .text-box {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

h6 {
    color: var(--color33);
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

p {
    color: var(--color33);
    font-weight: 400;
    opacity: 0.8;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content .left .txt-box {
    position: absolute;
    left: 100px;
    bottom: 100px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
}

.content .left .txt-box .read-more {
    border: 1px solid var(--colorff);
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content h4 {
    font-weight: 300;
    line-height: 22px;
    opacity: 0.9;
}

.content p {
    color: var(--colorff);
    opacity: 1;
}

.content img {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.content .right .video-click-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
    z-index: 10;
    background-color: transparent;
    cursor: pointer;
}

.content .right .txt-box {
    position: absolute;
    left: 100px;
    bottom: 100px;
    z-index: 15;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: opacity 0.5s;
    pointer-events: none;
}

.content .right .txt-box.hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.content video {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}